/* CURIOSIDADES */

#curiosidades {
    width: 25%;
    min-height: 30em;
}

#curiosidades ul {
    font-family: Khand;
}

.curiosidade {
    background-color: #e2e2e2e0;
    padding: 10px 10px 15px 10px
}

.curiosidade p {
    font-size: 110%;
}


/* FIM CURIOSIDADES */


/* PRODUTOS */

#produtos {
    width: 100%;
    min-height: 30em;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
}

#sticker-promocao {
    display: flex;
    position: absolute;
    width: 220px;
    height: 220px;
    right: .8%;
    top: 29%;
}

.produto-img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.produto-conteudo {
    display: flex;
    flex-direction: column;
    border-style: groove;
    align-items: center;
    padding: 20px 20px 20px 20px;
}

.produto-conteudo p {
    align-items: center;
    text-align: center;
    font-family: Khand;
    margin-bottom: 0;
}

.produto_title {
    font-size: 130%;
    font-weight: bold;
}

.preco {
    color: gray;
    text-decoration: line-through;
    font-size: 120%;
}

#ofertas {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    align-content: center;
}

#ofertas li {
    margin: 0 20px 20px 20px;
}


/*FIM PRODUTOS*/


/* FIM CONTEUDO PRINCIPAL */