html{
    min-height: 100%;
    width: 100%;
}
body{
    min-height: 100%;
    width: 100%;
}

.content{
    min-height: 100%;
    width: 100%;
}

.navbar {
    width: 100%;
}

.tabelaprodutos{
    margin-top:125px
}

.nav-link{
    transition: .15s ease-in-out
}

.nav-link:hover{
    color: #06c98f !important;
    transition: .15s ease-in-out
}

.btn-outline-success{
    color:#06c98f;
    border-color:#06c98f
}
.btn-outline-success:hover{
    color:#fff;
    background-color:#06c98f;
    border-color:#06c98f
}

.logotipo{
    width: 250px
}
.navbar-nav{
    display:flex;
    flex-direction: row;
    justify-content: flex-end !important
}

.nav-item{
    position: relative;
    display: flex
}
.navlinks-content{
    flex-direction: row-reverse;
}

.tabelaprodutos-head th{
    color: black !important;
    background-color: white !important;
    width: fit-content
}
.tabelaprodutos td {
    width: fit-content;
}

.icon{
    width: 25px
}
