#sobre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sobre-2{
    display: flex;
    overflow: hidden;
    padding:  15px !important;
}
.promocoes{
    z-index: 1;
    display: flex;
    flex-direction: column;
    color: white;
    width:100%;
    background-image: linear-gradient(rgb(55, 59, 75), rgb(12, 12, 26));
    opacity: 0.6;
    transition: 0.3s;
    padding: 25px;
}
.promocoes:hover{
    opacity: .85;
}
.promocoes h6{
    text-align: right;
}
.promocoes hr{
    width: 90%;
}
.logo-titulo{
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#conteudo{
    width: 100%;
    position: relative;
    height: fit-content;
    overflow: hidden;
}
#oferta{
    width: 100%;
}
.corolla-alpha{
    z-index: -1;
    position: absolute;
    right: -200px;
    width: 55%;
    opacity: .15;
    transform: rotate(-6deg);
}

#showcase-hilux{
    width: 100%;
    height: fit-content;
    /* background-image: linear-gradient(rgb(38, 75, 88), rgb(23, 20, 31)); */
    background-color: rgb(23, 20, 31);
}
#oferta-titulo{
    font-family: archivo black;
    color: white;
    text-align: center;
    padding-top: 20px;
    text-align: right;
}
h3,h4, h2{
    font-family: archivo black;
}

.animated-hilux{
    opacity: 1;
    transition: 0.3s;
    width: 100%;
}

.animated-hilux:hover{
    width: 140%;
}

.showcase.container{
    display: flex;
    flex-direction: row;
}

.titulo-sobreposto{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 16%;
    top: 42%;
    color: white;
}

.titulo-sobreposto-oferta{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 12%;
    top: 50%;
    color: white;
}
#hilux-info{
    width: 64%;
    border-radius: 20px;
}
#hilux-bg{
    margin-bottom: -40px;
}
#btn-saibamais{
    width: 100%;
    margin-top: 10px;
}
.link-icon{
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: flex-start;
}
.link-icon a{
    margin-left:4px
}
#rodape .container{
    padding-top: 50px;
}
#hilux-conheca{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
