nav{
    height: fit-content;
}
nav .brand-logo {
    position: relative;
    display: flex;
    align-items: center;
}
.brand-logo > img{
    width: 60px;
}
nav .nav-wrapper {
height: fit-content
}
.nav-wrapper .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
}
.sub-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}