#midia {
    justify-content: center;
}

#midia ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center
}

#midia ul li iframe {
    margin-right: 10px;
    margin-left: 10px;
}

#sobre p {
    font-family: Khand;
    font-size: 120%;
    text-align: justify;
}

#midia {
    width: 100%;
    min-height: 500px;
}

#midia ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 500px;
}

#midia li img {
    width: 350px;
    height: 260px;
    margin: 10px 20px 20px 20px;
}